.footer-custom {
  background-color: #00a85f;
  border-top: 1px solid #ddd;
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.9rem;
  color: #ffffff;
}

.footer-links a {
  color: #6dfcc3;
  text-decoration: none;
  margin: 0 8px;
}

.footer-links a:hover {
  text-decoration: underline;
}
