<app-navbar></app-navbar>

<section class="usuarios-section">
  <div class="container">
    <div class="title-box text-center mb-4">
      <h2>Gestión de Usuarios</h2>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-box p-4 shadow">
          <form (submit)="registrarUsuario(); $event.preventDefault()">
            <div class="mb-3">
              <label>Nombre completo:</label>
              <input type="text" class="form-control" [(ngModel)]="nuevoUsuario.nombreCompleto" name="nombreCompleto" required />
            </div>
            <div class="mb-3">
              <label>Correo electrónico:</label>
              <input type="email" class="form-control" [(ngModel)]="nuevoUsuario.correo" name="correo" required />
            </div>
            <div class="mb-3">
              <label>Rol:</label>
              <select class="form-control" [(ngModel)]="nuevoUsuario.rol" name="rol">
                <option>Cliente</option>
                <option>Administrador</option>
              </select>
            </div>
            <div class="mb-3" *ngIf="!editando">
              <label>Contraseña:</label>
              <input type="password" class="form-control" [(ngModel)]="nuevoUsuario.contrasena" name="contrasena" required />
            </div>
            <button class="btn btn-success w-100">{{ editando ? 'Actualizar' : 'Registrar Usuario' }}</button>
            <button type="button" class="btn btn-secondary w-100 mt-2" (click)="limpiarFormulario()" *ngIf="editando">Cancelar</button>
          </form>
        </div>
      </div>

      <div class="col-md-8">
        <div class="table-box shadow">
          <table class="table table-bordered">
            <thead class="table-header-green text-white">
              <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Rol</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let u of usuarios">
                <td>{{ u.nombreCompleto }}</td>
                <td>{{ u.correo }}</td>
                <td>{{ u.rol }}</td>
                <td>
                  <button class="btn btn-warning btn-sm" (click)="editarUsuario(u)">Editar</button>
                  <p></p>
                  <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(u.id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>