body {
  background-color: #f3eef7;
  font-family: 'Segoe UI', sans-serif;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.title-box {
  background-color: #00c275;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
}

.title-box h2 {
  margin: 0;
  color: white; 
}

.table-header-green {
  background-color: #00c275;
}