<app-navbar></app-navbar>


<section class="about-section">
  <div class="container about-container">
    <div class="title-box text-center mb-4">
      <h2>Sobre nosotros...</h2>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="about-image">
          <div class="image-placeholder">
           <img src="../../../assets/nosotros.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        
        <h5>AquaLife</h5>
        <p>
          AquaLife es un proyecto que busca enfrentar el problema del desperdicio de agua en la agricultura y el cuidado de plantas.
          Nuestro objetivo es ofrecer soluciones sostenibles y eficientes para el riego de plantas, utilizando tecnología avanzada para optimizar el uso del agua.
          Con un enfoque en la innovación y el cuidado del medio ambiente, AquaLife se dedica a desarrollar sistemas de recolección y uso de agua pluvial que benefician tanto a los usuarios como al planeta.
          esto no solo incumbe a grandes empresas, sino también a pequeños agricultores y jardineros urbanos que buscan mejorar la eficiencia de sus recursos hídricos.
        </p>
        <p>
          Contribuir al cuidado del medio ambiente mediante soluciones inteligentes para el aprovechamiento del agua.
        </p>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>