<app-navbar></app-navbar>

<section>
  <div class="hero-text">
    <p>RECOLECCIÓN DE AGUA PLUVIAL PARA EL CUIDADO DE TUS PLANTAS</p>
  </div>

  <div class="placeholder-img">
    <img src="../../../assets/cultivo2.jpeg" alt="">
  </div>


  <div class="hero-text">
  <p>Tnemos el mejor sistema de recoleccion de agua de lluvia
  para el cuidado de tus plantas, con un sistema de riego automatizado que te permite ahorrar agua y cuidar tus plantas de manera eficiente.</p>

  <p>Con AquaLife, puedes disfrutar de un jardín saludable y sostenible, mientras contribuyes al cuidado del medio ambiente.</p>
  <p>¡Únete a la revolución del riego inteligente y transforma tu jardín hoy mismo!</p>
  </div>


</section>

<app-footer></app-footer>
