<app-navbar></app-navbar>


<section class="valoraciones-section">
  <div class="container">
    <h2 class="text-center mb-5">Valoraciones de Clientes</h2>

    <div class="row g-4">
      <div class="col-md-4" *ngFor="let valoracion of [1,2,3]">
        <div class="card valoracion-card shadow-sm">
          <div class="card-body">
            <div class="stars mb-2">
              
            </div>
            <p class="comentario">
              AquaLife ha sido una solución increíble para cuidar mis plantas y ahorrar agua. ¡Lo recomiendo totalmente!
            </p>
            <p class="autor"> Mariana G.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card valoracion-card shadow-sm">
          <div class="card-body">
            <div class="stars mb-2">
              
            </div>
            <p class="comentario">
              El sistema funciona de maravilla. La instalación fue sencilla y el soporte técnico excelente.
            </p>
            <p class="autor"> Carlos P.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card valoracion-card shadow-sm">
          <div class="card-body">
            <div class="stars mb-2">
              
            </div>
            <p class="comentario">
              Es una buena inversión, aunque me gustaría ver más opciones en la app móvil.
            </p>
            <p class="autor">– Laura M.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-5">
      <button class="btn btn-success">Agregar valoración</button>
    </div>
  </div>
