<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <button class="btn btn-outline-success me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu">
      ☰ Menú
    </button>

    <a class="navbar-brand" routerLink="/">
      <img src="assets/LogoAL.png" alt="AquaLife Logo" />
    </a>

    <div class="d-flex ms-auto">
      <button *ngIf="!authService.isLoggedIn()" class="btn btn-login" routerLink="/login">Log in</button>
      <button *ngIf="authService.isLoggedIn()" class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start sidebar-custom" tabindex="-1" id="sidebarMenu">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Menú</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav flex-column">
      <li class="nav-item"><a class="nav-link" routerLink="/inicio">Inicio</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/faq">Preguntas frecuentes</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/sobre-nosotros">Sobre nosotros</a></li>

      <li class="nav-item" *ngIf="role === 'Cliente' || role === 'Administrador'">
        <a class="nav-link" routerLink="/cotizaciones">Cotizaciones</a>
      </li>

      <li class="nav-item" *ngIf="role === 'Cliente' || role === 'Administrador'">
        <a class="nav-link" routerLink="/carrito">Carrito</a>
      </li>


      <li class="nav-item" *ngIf="role === 'Cliente' || role === 'Administrador'">
        <a class="nav-link" routerLink="/perfil">Perfil</a>
      </li>



      



      <li class="nav-item" *ngIf="role === 'Administrador'">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>

      </li>


      <li class="nav-item" *ngIf="role === 'Administrador'">
        <a class="nav-link" routerLink="/gestion-cotizaciones">Gestión de Cotizaciones</a>

      </li>

      <li class="nav-item" *ngIf="role === 'Administrador'">
        <a class="nav-link" routerLink="/usuarios">Gestion de Usuarios</a>

      <li class="nav-item" *ngIf="role === 'Administrador'">
        <a class="nav-link" routerLink="/proveedores">Proveedores</a>
      </li>
      <li class="nav-item" *ngIf="role === 'Administrador'">
        <a class="nav-link" routerLink="/ventas">Ventas</a>
      </li>
      <li class="nav-item" *ngIf="role === 'Administrador'">
        <a class="nav-link" routerLink="/compras">Compras</a>
      </li>
      <li class="nav-item" *ngIf="role === 'Administrador'">
        <a class="nav-link" routerLink="/productos">Productos</a>
      </li>
    </ul>
  </div>
</div>
