html {
  min-height: 100%;
  overflow-x: hidden;
  min-width: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
}

body {
  padding-right: 0 !important;
}

.offcanvas-backdrop {
  display: none !important;
}
