body {
  background-color: #f3eef7;
  font-family: 'Segoe UI', sans-serif;
}

.navbar-custom {
  background-color: #f3eef7;
  padding: 1rem 2rem;
}

.navbar-brand img {
  height: 40px;
}

.nav-link {
  font-weight: 600;
  color: #000;
  margin: 0 15px;
}

.nav-link.active {
  border-bottom: 3px solid #00c275;
  color: #000;
}

.btn-login {
  background-color: #00c275;
  color: white;
  border-radius: 50px;
  padding: 6px 20px;
  font-weight: 500;
  border: none;
}

.dashboard-section {
  padding: 60px 20px;
}

.dashboard-card {
  background-color: #dddddd;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
}

.dashboard-card h5 {
  color: #48C2A7;
  margin-bottom: 10px;
  font-weight: bold;
}

.dashboard-card p {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.alert-card {
  background-color: #ffcaca;
}

.title-box {
  background-color: #00c275;
  color: white;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 20px; 
}

.title-box h2 {
  margin: 0;
  color: white; 
}

.table-header-green {
  background-color: #00c275;
}