<app-navbar></app-navbar>

<section class="faq-section">
  <div class="container">
    <div class="title-box text-center mb-4">
      <h2>Preguntas Frecuentes</h2>
    </div>

    <div class="faq-item shadow-sm">
      <h5>¿Qué es AquaLife?</h5>
      <p>AquaLife es un sistema automatizado de recolección y uso de agua pluvial para el riego de tus plantas, ayudando al ahorro y cuidado del medio ambiente.</p>
    </div>

    <div class="faq-item shadow-sm">
      <h5>¿Necesito energía eléctrica para que funcione?</h5>
      <p> Si, El sistema necesita energia eléctrica dependiendo de la configuración seleccionada durante la instalación.</p>
    </div>

    <div class="faq-item shadow-sm">
      <h5>¿Qué mantenimiento requiere el sistema?</h5>
      <p>Solo es necesario limpiar el filtro de recolección y revisar el nivel del depósito periódicamente.</p>
    </div>

    <div class="faq-item shadow-sm">
      <h5>¿Puedo controlar el sistema desde la app?</h5>
      <p>Sí, nuestra aplicación móvil te permite activar el riego, ver estadísticas y recibir notificaciones sobre el estado del sistema.</p>
    </div>
  </div>
</section>

<app-footer></app-footer>